
.intro {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 50vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

.intro:before {
  /* rgba(255,255,255,0.5) */
  animation: fade-slide-down 2s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom,  rgba(0,0,0,0), rgba(0,0,0,.5)),
              url(assets/screenshot.jpg) no-repeat bottom;
  background-size: cover;
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

.header-title, .header-subtitle {
  color: #fff;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.header-button {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
}

/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
