doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head
      title Scottish Remote Sensing Portal
  body
    div(class='container')
      block content
      if process.env.NODE_ENV === 'production'
        p Rendered in PRODUCTION mode
      else
        p Rendered in DEVELOPMENT mode
      p This is plain old <em>HTML</em> content.
    block scripts
