doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='../assets/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,400italic' rel='stylesheet' type='text/css')
    block head
      title Scottish Remote Sensing Portal
  body
    div.header
      div.container
        i(class='fas fa-ellipsis-h')
        span.heading-text
          | Scottish Remote Sensing Portal
        img(alt='Scottish Government Remote Sensing Portal' src='../assets/scotgovlogo.svg' width='240' height='44')
    div.container
      block content
      hr
      div.some-class#some-id(some-attribute='some-value')
        | Hello there from 
        = process.env.NODE_ENV
      hr
    block scripts
