
// /* Hide all content while the icons and typefaces are loading */
// html.fa-events-icons-loading body,
// html.fa-events-typefaces-lato-loading body,
// html.fa-events-typefaces-orbitron-loading body {
//   display: none;
// }

$enable-responsive-font-sizes: true;

$scot-gov-blue: #0065bd;
$theme-colors: (
  "primary": $scot-gov-blue,
  "danger": #E03997
  );

// bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

// Alternate suggestion, but navbar doesn't work?
// @import "~bootstrap/scss/_functions";
// @import "~bootstrap/scss/_variables";
// @import "~bootstrap/scss/_mixins";
// // Optional
// @import "~bootstrap/scss/_reboot";
// @import "~bootstrap/scss/_type";
// @import "~bootstrap/scss/_images";
// @import "~bootstrap/scss/_code";
// @import "~bootstrap/scss/_grid";

$spot-muted: rgb(114, 114, 114);
$header-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-family: Hind Madurai, "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  font-family: $body-font-family;
  
  // fix ie 11 flexbox bug by adding display:flex to parent
  display: flex;
  flex-direction: column;
}

#layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
    color: $scot-gov-blue;
    font-family: $header-font-family;
  }

@mixin white-background {
  background-color: white;
}

  
.custom-select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
  background-color: $scot-gov-blue;
  color: white;
  border: 0 none;
  border-radius: 20px;
  padding: 6px 20px;
  min-width: 15rem;
}

.header {
  @include white-background; 
  border-top: 0.4rem solid $scot-gov-blue;
  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .portal-icon {
      color: $scot-gov-blue;
      width: 1.5rem;
    }
  }
  .title-text {
    color: $spot-muted;
    font-family: $header-font-family;
    font-size: 200%;
    font-weight: 100;
  }
  .navbar {
    font-size: 115%;
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
    .nav-item {
      margin-bottom: 0.3rem;
      &.active {
        margin-bottom: 0;
        border-bottom: 0.3rem solid $scot-gov-blue;
      }
    }
  }
}

.cookie-banner {
  @include white-background;
  opacity: 0.8;
}

.footer {
  background-color: $gray-700;
  color: white;
  padding: 3rem 0;
  a {
    color: white;
    &:visited { color: white; }
    &:hover { color: white; }
    &:active { color: white; }
  }
  ul {
    margin-left: 1.5rem;
    li i {
      font-size: 60%;
    }
  }
  .footer-title {
    min-height: 3.3rem;
    padding-top: 0.4rem;
    // margin: 0.5rem 0 1.3rem 0;
    > span {
      font-family: $header-font-family;
      font-size: 160%;
      font-weight: 300;
    }
    .portal-icon {
      width: 1.2rem;
    }
  }
  
  .jncc-partnership {
    // padding-top: 0.2em;
    .jncc-logo {
      filter: brightness(100);
      height: 3.3rem;
    }
  }
}

.normal-page-container {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.jumbo {
  .jumbo-heading {
    font-family: $header-font-family;
    font-size: 200%;
    font-weight: 300;
    .jumbo-bold {
      font-weight: 300;
    }
  }
}

.app {
  min-height: 80vh;
  // background-color: aliceblue;
}

.list-screen {
  .filter-bar {
    font-size: 115%;
    .badge {
      font-weight: normal;
      font-size: 100%;
    }
  }
  .filter-bar-hr {
    margin-bottom: 1.7rem;
  }
  .list-item {
    .list-item-title {
      font-size: 140%;
      display: inline-flex; /* make element size relative to content */
      align-items: center
    }
  }
}

.moreable {
  a.collapsed:after {
    content: '+ Show More';
    float: right;
  }
  a:not(.collapsed):after {
    content: '- Show Less';
    float: right;
  }
  .moreable-content {
    margin-bottom: 0;

  }
  .moreable-content.collapse:not(.show) {
    display: block;
    height: 4.7rem;
    overflow: hidden;
    margin-bottom: 0;
  }

  .moreable-content.collapsing {
    height: 4.7rem;
  }  
}

.wms-modal {
  .modal-body {
    padding: 3rem;
  }
  .gutter-line {
    border-right: 1px solid $gray-300;
  }
  .wms-link {
    // @include badge;
    // @include badge-pill;
    // @include badge-secondary;
    font-size: 90%;
  }
}

.dataset-path {
  font-weight: bold;
  font-size: 115%;
  .dataset-path-segment {
    color: $gray-600;
  }
  .dataset-path-separator {
    padding: 0 0.15rem;
    // color: map-get($theme-colors, "primary");
    color: $gray-300;
    font-weight: normal;
  }
}

// .map-wrapper { width: 100%; height:100%; position: fixed; }
// .map { width: 100%; height:100%; position: relative; }
.map { width: 100%; height: 100%; position: absolute; left:0; top:0; right:0; bottom:0; }
#themap {
  border: 3px solid greenyellow;
}


// .left-bar {
//   z-index: 100000;
//   position: absolute;
//   top: 3rem;
//   left: 4rem;
//   bottom: 3rem;
//   width: 17rem;
//   // max-height: 70vh;
//   .panel {
//     background-color: white;
//     overflow: scroll;
//     border: 1rem solid white;
//     box-shadow: 0 10px 6px -6px #777;
    
//   }
// }

// .no-scroll {
//   margin: 0; height: 100%; overflow: hidden;
// }

.full-height {
  min-height: 100vh;
}

// flex experiments
.bordr {
  border: 3px solid red;
}
.fullheight {
  min-height: 100vh;
}
.a {
  border: 3px solid goldenrod;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.b {
  flex: 1;
}
.c {
  border: 3px solid paleturquoise;
  display: flex;
  flex-direction: column;
}
.d {
  display: flex;
  flex-direction: row;
}
.f {
  z-index: 1000;
}
.g {
  z-index: 10000;
}
.h {
  z-index: 100000;
}

.np {
  pointer-events: none;
}
.p {
  pointer-events: unset;
}

.panel {
  max-height: 35rem;
  background-color: white;
  overflow-y: scroll;
  padding: 1rem;
  box-shadow: 0 10px 6px -6px #777;
}

// absolute experiments
.scrollable {
  
}
.left-panel {
  position: absolute;
  top: 2rem;
  left: 2rem;
  max-width: 18rem;
}
.right-panel {
  position: absolute;
  top: 2rem;
  right: 2rem;
  max-width: 18rem;
}
.r {
  position:relative;
}
