
extends ../templates/layout.pug

block head
  title Not found

block content
  main(role='main')#main.container.normal-page-container.flex-grow-1
    h1 Page not found
    p Sorry, we couldn't find the page you requested.

  include ../templates/footer

block scripts
  script(src='../bundles/404.ts')
