
extends ../templates/layout.pug

block variables
    - var page_name = 'cases'

block head
  title Case studies using LiDAR data | Scottish Government

block meta
  meta(description='The portal has been developed as a partnership between Scottish Government and Joint Nature Conservation Committee (JNCC).')

block content
  main(role='main')#main.container.normal-page-container.flex-grow-1
    h1.mb-3 Case studies
    h3.mb-3 Case study 1: Wind turbine wake field retrieval based on dual LiDAR system
    p
      | Yong Bao and Jiabin Jia
      br
      | Institute for Digital Communications, School of Engineering, The University of Edinburgh
    div(style="display: flex;align-items: flex-start;") 
      p 
        | Accurate and reliable wind field measurement for wind turbine wake is an important foundation of design and operation of the wind farms. Owing to its high spatial resolution and comparatively low economic cost, Doppler-based wind LiDAR has been widely applied to wind field monitoring. However, the turbine wake wind field often shows strong variability and complexity in both spatial and temporal aspects, that the conventional wind LiDAR may lack the temporal resolution of wind retrievals for imaging the fast-changing wind field, and the spatial resolution to quantitative reveal the detailed turbine wake wind field. Therefore, this project aims to develop a novel approach for fast-imaging high resolution turbine wake wind field monitoring based on Doppler-based wind LiDAR system.
        br
        br
        | A novel line of sight (LOS) data up-sampling and unsynchronized dual LiDAR wind retrieval method are developed to improve the temporal and spatial resolution of the wind field, which consists of two steps. Step 1 is the acquisition, registration and up-sampling of the LOS data. The two LOS datasets obtained from an unsynchronized dual LiDAR system will be aligned into pre-set grids, then been up-sampled based on the low-rank matrix completion method. Step 2 is the wind field regularization and retrieval, which designs spatial regularization for 2D horizontal wind field, then applies a robust reconstruction algorithm for wind retrieval. 
      img(alt="Case 1 figure: wake field retrieval represented as a schematic" title='Case 1 figure: wind turbine wake field retrieval' src='../assets/case_studies/case1.jpg' style="height:400px;float: right;")
    p Provided the real collected data of LiDAR system, we will be able to validate the performance of the proposed method in real complex conditions. The retrieved wind field using the LiDAR data is beneficial for the better understanding of the turbine wake process, and for the optimization of wind farm power production by properly coordinating turbine control actions. Wind LiDAR measurement will also be beneficial for the validation of CFD modelling of turbine wind interactions.
    hr
    h3.mb-3 Case study 2: SEPA use of LiDAR - Flood risk management
    p Under the Flood Risk Management act 2009, SEPA has many responsibilities to improve the understanding of flood risk at a national and local level. This includes producing flood risk hazard maps for fluvial (river), surface water and coastal flooding. These maps contain information about flood extent, depth and velocity.
    div(style="display: flex;align-items: flex-start;") 
      img(alt='Case 2 figure: map of potentially flooded area' title='Case 2 figure: Flood risk management' src='../assets/case_studies/case2.jpg' style="height:400px;padding-right: 10px;")
      //- Contains OS data © Crown Copyright and database right 2020 Contains data from OS Zoomstack | ©Environment Agency copyright and/or database right 2020 All rights reserved | © Environment Agency copyright and/or database right 2018. All rights reserved. Some features of this map are based on digital spatial data from the Centre for Ecology & Hydrology, © NERC (CEH) © Crown copyright and database rights 2018 Ordnance Survey 100024198
      p 
        | The flood risk maps are produced using hydraulic modelling software which, in general terms, will use a variety of methodologies to calculate the depth and velocity of water that results from each source of flooding for a range of flooding scenarios. All of these models rely on a digital terrain models (DEM) for the underlying dataset to represent the land surface. Generally, good DEMs must contain an accurate representation of micro topography (e.g. channels, embankments, roads, buildings) to create a computational mesh in which all the elements that constrain flow dynamics and flood propagation are included. This allows water depths to be converted to extents on the ground. At a local scale GPS or topographic survey can be used to create the DEM, however as SEPA carry out this mapping on a national level, the DEM needs to be remotely sensed data.
        br
        br
        | LiDAR data helps us to improve FRM by providing better resolution and accuracy compared with other remotely sensed topographic data such as NEXTmap, giving a more realistic representation of the topography of the earth’s surface which in turn improves the accuracy of the flood hazard maps and hence our understanding of flood risk. SEPA will also use this LiDAR data in the assessment of flood risk from sewerage systems, flood warning scheme development, reservoir inundation mapping, developing natural flood management suitability maps and the mapping of artificial structures and natural features that may have an influence on flood risk.
    hr
    h3.mb-3 Case study 3: Anticipating coastal change using LiDAR
    p Dynamic Coast and Historic Environment Scotland
    p Sea level rise is an obvious effect of climate change.  Globally, governments and researchers are observing more frequent coastal flooding and increasing extents and rates of coastal erosion, in response to sea level rise. Dynamic Coast has observed increases in extent and rate of erosion in Scotland, and these are expected to increase under all emissions scenarios. SEPA confirm “Sea level rise as a result of climate change, results in an almost doubling of the number of properties considered to be at flood risk in Scotland” (NFRA 2018). This is a significantly higher rate of increase than either for rivers or surface water flooding.
    p SCCAP2 and NPF4 recognise the cross cutting risks posed to multiple sectors from climate change at the coast. Dynamic Coast is working with partners, including Historic Environment Scotland, to support national, regional assessments and local assessments at six exemplar Super Sites. The results and interactive maps are available at www.DynamicCoast.com. 
    p Since 2015 Dynamic Coast used around 6,000 km of updated shorelines, more than half coming from the Scottish Government’s Lidar campaigns. Our National Coastal Erosion Risk Assessment now estimates £1.2bn of assets are anticipated to be at risk by 2050, including prized cultural and natural heritage assets. What also is clear from Dynamic Coast is that whilst NetZero is essential, alone it is not enough, we must adapt to our future climate, and allow our coast and assets to become “sea level wise”. 
    div(style="display: flex;align-items: flex-start;") 
      p 
        | LiDAR data is an essential dataset for coastal change detection, offering vital further insights into detailed site-based analysis and management choices.  HES LiDAR and Terrestrial Laser Scans inform the management of its key cultural heritage treasures, including the World Heritage Site at Skara Brae. At Skara Brae, for example, time-series LiDAR-based Digital Elevation Models (DEMs) allow volumetric quantification of high-energy foreshore change and the increasing undermining of the sea wall’s toe and the rate of retreat of the adjacent ‘vegetation edge’. LiDAR has the potential to replicate this added value, pan-Scotland.
        br
        br
        | At a national scale LiDAR informs the National Coastal Erosion Risk Assessment (informing what is at risk from coastal change). LiDAR surveys also allow further insights into site-based management options to better manage these growing risks via detailed assessments of change, flood and erosion risk assessments, and allows the virtual development and appraisals of resilience and adaptation management options. Without high resolution DEMs these assessments are unable to advance (eg scrapping of SWT’s resilience and adaptation planning near Montrose basin).   
      img(alt='Case 3 figure: aerial photo showing future coast line change' title='Case 3 figure: Coastal change' src='../assets/case_studies/case3.jpg' style="height:500px;float: right;")
    p The Scottish Government’s Dynamic Coast project aims to (1) Improve the evidence on coastal change; (2) Improve awareness of the impacts of coastal change; and (3) Support decision-makers to ensure Scotland’s coast and assets can flexibly adapt to our future climate. A key recommendation is to improve coastal monitoring (via National LiDAR surveys) and allow strategic adaptation planning. With LiDAR at its heart, Scotland would then cease to be the only home nation without a funded coastal monitoring strategy.
  include ../templates/footer

block scripts
  script(src='../bundles/cases.ts')