
extends ../templates/layout.pug

block head
  title Contribute

block variables
    - var page_name = 'contribute'

block meta
  meta(title='Contribute data to the Scottish Remote Sensing Portal | Scottish Government')
  meta(description='Submit your LiDAR data to Scotland’s Spatial Data Inventory (SSDI) for inclusion within the Scottish Remote Sensing Portal.')

block content
  div.container.normal-page-container.flex-grow-1
    h1 How to contribute data
    p 
      | Here's how to contribute data to the portal.

  include ../templates/footer

block scripts
  script(src='../bundles/contribute.ts')
