
extends ../templates/layout.pug

block head
  title Contribute

block variables
    - var page_name = 'contribute'

block content
  div.container.normal-page-container.flex-grow-1
    h1 How to contribute data
    p 
      | Here's how to contribute data to the portal.

  include ../templates/footer

block scripts
  script(src='../bundles/contribute.ts')
