
extends ../templates/layout.pug

block head
  title Cookies | Scottish Government

block content
  div.container.normal-page-container.flex-grow-1
    h1 Cookies
    p
      | This website remotesensingdata.gov.scot puts small files (known as 'cookies')
      | on to your computer to collect information about how you browse the site.
    p
      | Cookies are used to:
      ul
        li measure how you use the website so it can be updated and improved based on your needs
        li remember the notifications you’ve seen so that we don’t show them to you again
    p
      | Cookies are not used to identify you personally.
    h2
      | How cookies are used on remotesensingdata.gov.scot
    p
      | This is a list of the cookies used on the remotesensingdata.gov.scot website
      | and why they are used.
    h3
      | Cookie consent
    p
      | We use a cookie to remember to not show you our cookie banner again.
    table.table
      tr
        th Name
        th Purpose
        th Expires
      tr
        td cookie-consent
        td Stores the user's cookie consent state for the current domain
        td 1 month
    h3
      | Measuring website usage with Google Analytics
    p
      | We use Google Analytics and Google Tag Manager to collect and store information about
      | how you use remotesensingdata.gov.scot. We do this to help make sure the site is 
      | meeting the needs of its users and to help us make improvements.
    p
      | Google Analytics records information about:
      ul
        li the pages you visit on the remotesensingdata.gov.scot site
        li how long you spend on each page
        li how you got to the site
        li what you click on while you're visiting the site
        li the device you are using to visit the site
    p
      | We don’t collect or store any personal information (for example your name or address)
      | so this information can’t be used to identify who you are. We don’t allow Google to
      | use or share our analytics data.
    p
     | When you access remotesensingdata.gov.scot, Google Analytics sets the following cookies:
    table.table
      tr
        th Name
        th Purpose
        th Expires
      tr
        td NID
        td The NID cookie contains a unique ID Google uses to remember your preferences and other information, such as your preferred language (e.g. English).
        td 6 months
      tr
        td _ga
        td Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
        td 2 years
      tr
        td _gid
        td Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
        td 24 hours
      tr
        td _gat
        td Used by Google Analytics to throttle request rate
        td 24 hours
      tr
        td collect
        td Used to send data to Google Analytics about the visitor's device and behaviour. Tracks the visitor across devices and marketing channels.
        td The length of the visitor session
    h2
      | How to manage your cookies
    p
      | To find out how to manage what cookies you allow, see your browser's help section or
      | your mobile phone manual. Or you can visit the non-government site below, which has
      | detailed information on how to manage, control or delete cookies.
    p
      | Find out more about #[a(href="https://www.aboutcookies.org/") how to manage cookies].

  include ../templates/footer

block scripts
  script(src='../bundles/cookies.ts')
