
extends ../templates/layout.pug

block head
  title Cookies | Scottish Government

block content
  div.container.normal-page-container.flex-grow-1
    h1 Cookies
    p
      | This website remotesensingdata.gov.scot puts small files (known as 'cookies')
      | on to your computer.
    p
      | Some of these cookies are essential, and are needed for the website to work. Others help us to improve your experience, by providing insights into how the site is being used.
    p
      | We use cookies to:
      ul
        li remember the notifications you’ve seen, so that we don’t show them to you again
        li measure how you use the website, so it can improved based on your needs
    p
      | We do #[b not] use cookies to identify you personally.
    h2
      | Cookies we use on remotesensingdata.gov.scot
    p
      | Below is a complete list of the cookies we might use.
    h3
      span.badge.badge-secondary.align-top Essential 
      span  Remembering your cookie consent 
    p
      | We use a cookie to record your consent to us storing other cookies.
    table.table
      tr
        th Name
        th Purpose
        th Expires
      tr
        td CookieControl
        td Stores the user's cookie consent information
        td 90 days
    h3
      span.badge.badge-secondary.align-top Non-essential
      span  Measuring website usage with Google Analytics 
    p
      | We use Google Analytics to collect and store information about
      | how you use remotesensingdata.gov.scot.
    p
      | We do this to make sure that the site is 
      | meeting the needs of its users, and to help us make improvements.
    p
      | Google Analytics records information about:
      ul
        li the pages you visit on remotesensingdata.gov.scot
        li how long you spend on each page
        li how you got to the site
        li what you click on while you're visiting the site
        li the device you are using to visit the site
    p
      | We #[b don’t collect or store any personal information] (for example, your name or address)
      | so this information can’t be used to identify who you are. We don’t allow Google to
      | use or share our analytics data.
    p
     | Google Analytics sets the following cookies:
    table.table
      tr
        th Name
        th Purpose
        th Expires
      tr
        td _ga
        td Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
        td 2 years
      tr
        td _gid
        td Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
        td 24 hours
      tr
        td _gat
        td Used by Google Analytics to throttle request rate
        td 24 hours
    h3
      span.badge.badge-secondary.align-top Essential 
      span  Remembering the contents of your "shopping basket"
    p
      | We use your browser's session storage, which is similar to a cookie,
      | to remember what you have added to your shopping basket.
    p
      | The information
      | in your session storage stays on your computer and we do not retrieve it.
    h2
      | How to manage your cookies
    p
      | To find out how to manage what cookies you allow, see your browser's help section or
      | your mobile phone manual. Or you can visit the non-government site below, which has
      | detailed information on how to manage, control or delete cookies.
    p
      | Find out more about #[a(href="https://www.aboutcookies.org/") how to manage cookies].

  include ../templates/footer

block scripts
  script(src='../bundles/cookies.ts')
