
extends ../templates/layout.pug

block head
  title Scottish Remote Data Sensing Portal

block content
  div.container.normal-page-container
    h1 App page
    p
      a(href='/' + process.env.INDEX_PAGE + process.env.PAGE_EXTENSION) Go to home page
    div#app

block scripts
  script(src='../bundles/data.ts')
