
extends ../layout.pug

block head
  title Scottish Remote Sensing Portal - Home

block content
  h1 Home page
  - var pets = ['cat', 'dog']
  each petName in pets
    p #{petName}

block scripts
  script(src='../bundles/index.ts')
