
extends ../templates/layout.pug

block variables
    - var page_name = 'index'

block head
  title Scottish Remote Sensing Portal | Scottish Government

block meta
  meta(description='A portal containing Scottish Public Sector LiDAR data which you can download by 10km tiles and via WMS web services.')

block content
  main(role='main')#main.home-main.flex-grow-1
    div.strap
      h1.strap-text
        span Find, share and reuse
        br
        span.strap-subtext remote sensed data provided by Scottish public sector organisations

      div
        a.btn.btn-dark.mr-2(href='/data' + process.env.PAGE_EXTENSION + '#/list')
          | Browse datasets
        a.btn.btn-primary(href='/data' + process.env.PAGE_EXTENSION + '#/map')
          | Explore the map

  include ../templates/footer

block scripts
  script(src='../bundles/index.ts')
