
extends ../templates/layout.pug

block variables
    - var page_name = 'index'

block head
  title Scottish Remote Data Sensing Portal - Home

block content
  h1 Find, share and reuse remote sensed data provided by Scottish public sector organisations
  br
  br
  div
    a(href='/data' + process.env.PAGE_EXTENSION) Go to app
block scripts
  script(src='../bundles/index.ts')
