
extends ../templates/layout.pug

block variables
    - var page_name = 'index'

block head
  title Scottish Remote Sensing Portal | Scottish Government

block meta
  meta(description='A portal containing Scottish Public Sector LiDAR data which you can download by 10km tiles and via WMS web services.')

block content

  div.intro
    section
      h1.intro-title Find, share and reuse 
        h3.intro-subtitle Remote sensed data provided by Scottish public sector organisations
        a.btn.btn-dark.mr-1(href='/data' + process.env.PAGE_EXTENSION + '#list')
          | Browse datasets
        a.btn.btn-primary.ml-1(href='/data' + process.env.PAGE_EXTENSION + '#map')
          | Explore the map
          
  include ../templates/footer

block scripts
  script(src='../bundles/index.ts')
