
extends ../templates/layout.pug

block head
  title Privacy policy

block content
  div.container.normal-page-container.flex-grow-1
    h1 Privacy policy
    p
      | Privacy policy to appear here.

  include ../templates/footer

block scripts
  script(src='../bundles/privacy.ts')
