
extends ../templates/layout.pug

block head
  title Privacy | Scottish Government

block content
  div.container.normal-page-container.flex-grow-1
    h1
      | Privacy
    p
      | This privacy policy tells you what to expect when the Scottish Government
      | collects your personal information from the Scottish Remote Sensing Portal.
    h2
      | Who we are
    p
      | The #[b data controller] of the processing operation is the Scottish Government.
    p
      | The following #[b entity] #[b processes] some of your personal data on our behalf: Joint
      | Nature Conservation Committee (JNCC) Support Co., Monkstone House, City Road,
      | Peterborough PE1 1JY United Kingdom. 
    p
      | JNCC is the public body that advises the UK Government and devolved administrations
      | on UK-wide and international nature conservation.  
    p
      | The portal provides access to open government and non-commercial licensed Light Detecting
      | And Ranging (LiDAR) data owned by the Scottish public sector. The data can be downloaded
      | or consumed via web mapping services.
    h2
      | Why we collect personal data
    p
      | The #[b purpose(s)] and #[b legal basis] of gathering this information and the
      | processing activities is to:
    ul
      li
        | allow us to respond to questions, comments and feedback submitted via email through the
        | site in line with Scottish Government’s public task 
    p
      | The personal data you send us can be viewed by authorised people in the Scottish government,
      | the data processor (JNCC), supplier organisations, agencies and public bodies.
    h2
      | Data we collect
    h3
      | 1. Visitors to our websites
    p
      | We use a third-party service, Google Analytics, to collect information on how you use the
      | website, using cookies and page tagging techniques to understand the pages visited and
      | the visitor interactions within pages, such as the interactive map. The information we
      | - and Google - collect doesn't identify anyone by name.
    h4
      | Cookies
    p
      | You can read more about how we use cookies on our
      | #[a(href='/cookies' + process.env.PAGE_EXTENSION) Cookies page].
    h4
      | Links to other websites
    p
      | When we link to other websites, we encourage you to read the privacy policy statements
      | contained on those sites.
    h3
      | 2. Feedback
    p
      | If you contact us asking a question or giving feedback, we collect your email address and
      | any other personal data contained in your message in order to respond or improve the website.
      | If you contact us asking for information, we may need to contact other government bodies to
      | find that information. Your personal data #[b will not be transferred] to third countries or
      | international organisations. The processing of your data will #[b not include] automated
      | decision-making (such as profiling).
    h2
      | How long we will retain your personal data
    p
      | Your personal data will be kept for a maximum period of:
    ul
      li
        | For #[b email addresses and personal data contained in email messages]: up to three years
        | from the point at which it is entered by the user. Data will be deleted at the end of this
        | period. This data is held on Scottish Government servers at Saughton House, Edinburgh. 
    h2
      | Your rights
    p
      | You have a right of access to any
      | #[a(href="https://www.gov.scot/about/contact-information/personal-data/") personal data]
      |  we hold about you, by making a
      | #[a(href="https://www.gov.scot/publications/subject-access-request-form/") Subject Access Request (SAR)].
    p
      | In addition, if you believe that the data we hold is inaccurate or incomplete you can
      | ask us to update our records. If you are unhappy with the way in which we process your
      | personal data you can request that we stop or restrict the processing we complete using
      | your personal data or ask us to delete the personal data we hold about you. 
    p
      | Find out more about 
      a(href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/")
        | your rights on the Information Commissioner's site.
    p
      | In some circumstances we may not be able to comply with your request. This is because 
      | some of these rights are conditional and can only be applied in certain circumstances
      | and/or where there is no compelling reason to continue to process your personal data.
    h3
      | Contact
    address
      | Data Protection Officer #[br]
      | Victoria Quay #[br]
      | Commercial Street #[br]
      | Edinburgh #[br]
      | EH6 6QQ #[br]
      | Email: #[a(href="mailto:DataProtectionOfficer@gov.scot") DataProtectionOfficer@gov.scot]
    h2
      | Complaints
    p
      | If you feel we have been unable, or unwilling, to resolve your information rights concern,
      | you have the right to lodge a complaint with the Information Commissioner's Office (ICO).
      | The ICO are the supervisory authority responsible for data protection in the UK.
    p
      | For further information, including independent data protection advice and information in
      | relation to your rights, you can contact the Information Commissioner at:
    address
      | The Information Commissioner #[br]
      | Wycliffe House #[br]
      | Water Lane #[br]
      | Wilmslow #[br]
      | Cheshire #[br]
      | SK9 5AF #[br]
      | Tel: 08456 30 60 60 #[br]
      | Website: #[a(href="https://www.ico.org.uk") www.ico.org.uk]
    p
      | You can also report any concerns here:
      | #[a(href="https://ico.org.uk/concerns/handling/") https://ico.org.uk/concerns/handling/]

  include ../templates/footer

block scripts
  script(src='../bundles/privacy.ts')
