
div.announcement-banner.p-2.text-center.text-secondary.align-center.border-bottom.border-top
  i.fas.fa-rocket.mr-2
  | Please note we are currently loading Lidar Phase 4 data into the portal.
  | You may see inconsistent query results during this time.
  i.fas.fa-rocket.ml-2
