
div.announcement-banner.p-2.text-center.text-secondary.align-center.border-bottom.border-top
  i.fas.fa-rocket.me-2
  | Please note we are currently loading new data into the portal.
  | You may see inconsistent query results during this time.
  i.fas.fa-rocket.ms-2
