
script.
    var civicCookieControlConfig = {
      apiKey: 'c21c48ca8bb88a6c190b5cb444772f1970eb87ef',
      product: 'PRO',
      logConsent: true,
      optionalCookies: [
        {
            name : 'analytics',
            recommendedState: false,
            label: 'Usage Cookies',
            description: 'Usage cookies help us to improve our service by letting us see how it is being used.',
            cookies: ['_gat_UA-100321458-2', '_gid', '_ga'],
            onAccept : function(){
                // Google Tag Manager
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-KTFCSMX');
                // End Google Tag Manager
            },
            onRevoke: function(){
                // Disable Google Analytics
                window['ga-disable-UA-100321458-2'] = true;
                // End Google Analytics
            }
        }
      ]
    };

    CookieControl.load(civicCookieControlConfig);
