
script.
  // implement cookie consent with smooth, classic javascript
  document.addEventListener("DOMContentLoaded", function() {
    var ok = document.querySelector('#cookie-consent-ok');
    var banner = document.querySelector('.cookie-banner');
    var hideBanner = function() { banner.style.display = "none"; }
    var showBanner = function() { banner.style.display = "block"; }
    ok.onclick = function() {
      var date = new Date();
      date.setMonth(date.getMonth() + 1)
      document.cookie = "cookie-consent=all;expires=" + date.toUTCString();
      hideBanner();
    }
    if (document.cookie.indexOf('cookie-consent=') < 0) {
      showBanner();
    }
  });
