div.cookie-banner.p-2.text-center.text-secondary.align-center.border-bottom.border-top
  | This site uses cookies to make the site simpler. 
  a(href='/cookies' + process.env.PAGE_EXTENSION) Find out more 
  | about cookies 
  a#cookie-consent-ok.btn.btn-light.btn-sm.text-secondary(href="#").ml-2
    i.fas.fa-check-circle.mr-1
    | OK
