
div.feedback-banner.text-center.align-center.p-2
  i.far.fa-comments.ms-2 
  |  We'd love your 
  a.text-light.text-decoration-underline(href='https://forms.cloud.microsoft/Pages/ResponsePage.aspx?id=6ORORP2yHUmMMYsFCDcKa7Qhl28ahx5DkGtoytXSYstUQ09SMks0TkozMlVYMTFYR1BXR0xYRlBXMC4u') feedback
  | . It only takes 2 minutes to help us improve the portal.
  i.far.fa-comments.ms-2
