block variables
doctype html
html(lang='en')
  head
    meta(name='x-version' content='x-version-stamp')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='../assets/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,400italic' rel='stylesheet' type='text/css')
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet">
    block head
      title Scottish Remote Sensing Portal
  body
    div#layout-container
      include ./header
      block content
      //- div.container
      //-   div.class1.class2#some-id(some-attribute='some-value')
      //-     | Hello there from 
      //-     = process.env.NODE_ENV
      //- include ./footer
    block scripts
