div.footer
  div.container
    div.row
      div.col-md-8.mb-lg-0.mb-3
        div.footer-title
          span
            i.portal-icon.fas.fa-ellipsis-v
            | Scottish Remote Sensing Portal
        div
          | Find, share and reuse remote sensed data provided by Scottish public sector organisations.
        br
        div.row
          div.col-lg
            ul.fa-ul
              li
                span.fa-li
                  i.fas.fa-terminal
                a(href='/about' + process.env.PAGE_EXTENSION) About
              li
                span.fa-li
                  i.fas.fa-terminal
                a(href='/feedback' + process.env.PAGE_EXTENSION) Feedback
              li
                span.fa-li
                  i.fas.fa-terminal
                a(href='/contribute' + process.env.PAGE_EXTENSION) Contribute
          div.col-lg
            ul.fa-ul
              li
                span.fa-li
                  i.fas.fa-terminal
                a(href='/accessibility' + process.env.PAGE_EXTENSION) Accessibility
              li
                span.fa-li
                  i.fas.fa-terminal
                a(href='/privacy' + process.env.PAGE_EXTENSION) Privacy
              li
                span.fa-li
                  i.fas.fa-terminal
                a(href='/cookies' + process.env.PAGE_EXTENSION) Cookies
      div.col-md-4.jncc-partnership
        img.jncc-logo(alt='Joint Nature Conservation Committee' src='../assets/JNCCLogo_Black.png')
        br
        br
        | Built in partnership with
        br
        | Joint Nature Conservation Committee
        br
        a(href="https://jncc.gov.uk") https://jncc.gov.uk
