header.header
  div.container
    div.row
      div.col-lg-8.mb-lg-0
        span.title-text
          i.portal-icon.fas.fa-ellipsis-v
          | Scottish Remote Sensing Portal
      div.col-lg-4.d-none.d-lg-block
        a.title-text(href='https://gov.scot' target='blank')
          img(alt='Scottish Government logo' title='Link to Scottish Government website (opens in a new window)' src='../assets/scotgovlogo.svg' width='240' height='44')
  
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.me-auto
          li.nav-item.me-4(class=(page_name === "index" ? "active" : undefined))
            a.nav-link.text-dark(href='/' + process.env.INDEX_PAGE + process.env.PAGE_EXTENSION)
              if page_name === "index"
                span.sr-only (current)
              | Home
          li.nav-item.me-4(class=(page_name === "about" ? "active" : undefined))
            a.nav-link.text-dark(href='/about' + process.env.PAGE_EXTENSION)
              if page_name ===  "about"
                span.sr-only (current)
              | About
          li.nav-item.me-4#list-screen-nav-item
            a.nav-link.text-dark(href='/data' + process.env.PAGE_EXTENSION + '#/list')
              | Datasets
          li.nav-item.me-4#map-screen-nav-item
            a.nav-link.text-dark(href='/data' + process.env.PAGE_EXTENSION + '#/map')
              | Map
          li.nav-item.me-4#download-screen-nav-item
            a.nav-link.text-dark(href='/data' + process.env.PAGE_EXTENSION + '#/download')
              | Download
          li.nav-item.me-4(class=(page_name === "cases" ? "active" : undefined))
            a.nav-link.text-dark(href='/cases' + process.env.PAGE_EXTENSION)
              if page_name === "cases"
                span.sr-only (current)
              | Case studies
          li.nav-item.me-4(class=(page_name === "contribute" ? "active" : undefined))
            a.nav-link.text-dark(href='/contribute' + process.env.PAGE_EXTENSION)
              if page_name === "contribute"
                span.sr-only (current)
              | Contribute
  
