block variables
doctype html
html(lang='en')
  head
    meta(name='x-version' content='x-version-stamp')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='../assets/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,400italic' rel='stylesheet' type='text/css')
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet">
    block head
      title Scottish Remote Sensing Portal
  body
    div#layout-container
      include ./header
      include ./cookie-consent
      block content
    block scripts
    script.
      // implement cookie consent with smooth, classic javascript
      document.addEventListener("DOMContentLoaded", function(event) {
        var ok = document.querySelector('#cookie-consent-ok');
        var banner = document.querySelector('.cookie-banner');
        var hideBanner = function() { banner.classList.add('d-none'); }
        ok.onclick = function() {
          var date = new Date();
          date.setMonth(date.getMonth() + 1)
          document.cookie = "cookie-consent=all;expires=" + date.toUTCString();
          hideBanner();
        }
        if (document.cookie.indexOf('cookie-consent=') >= 0) {
          hideBanner();
        }
      });
