block variables
doctype html
html(lang='en')
  head
    meta(name='x-version' content='x-version-stamp')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='../assets/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,400italic' rel='stylesheet' type='text/css')
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet">
    block head
      title Scottish Remote Sensing Portal
  body
    div#layout-container
      include ./header
      div.cookie-banner.p-2.text-center.text-secondary.align-center.border-bottom.border-top
        | This site uses cookies to make the site simpler. 
        a(href="#") Find out more 
        | about cookies 
        a.btn.btn-light.btn-sm.text-secondary(href="#").ml-2
          i.fas.fa-check-circle.mr-1
          | OK
      block content
  block scripts
