doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // - could also add shrink-to-fit=no on map
    title App page
  body
    h1 This is the app page
    if process.env.NODE_ENV === 'production'
      p PRODUCTION
    else
      p DEVELOPMENT
    script(src='./index.ts')
